<div data-page-component-module="oroui/js/app/components/view-component"
     data-page-component-options="{{ {view: 'orowebsitepro/js/app/views/website-select-view'}|json_encode }}">
    {{ form_row(form.website) }}
</div>
