parameters:
    oropro_elasticsearch.engine.class: OroPro\Bundle\ElasticSearchBundle\Engine\ElasticSearch
    oropro_elasticsearch.engine.index_agent.class: OroPro\Bundle\ElasticSearchBundle\Engine\IndexAgent
    oropro_elasticsearch.client.factory.class: OroPro\Bundle\ElasticSearchBundle\Client\ClientFactory

    oropro_elasticsearch.request_builder.from.class: OroPro\Bundle\ElasticSearchBundle\RequestBuilder\FromRequestBuilder
    oropro_elasticsearch.request_builder.where.class: OroPro\Bundle\ElasticSearchBundle\RequestBuilder\WhereRequestBuilder
    oropro_elasticsearch.request_builder.order.class: OroPro\Bundle\ElasticSearchBundle\RequestBuilder\OrderRequestBuilder
    oropro_elasticsearch.request_builder.limit.class: OroPro\Bundle\ElasticSearchBundle\RequestBuilder\LimitRequestBuilder

    oropro_elasticsearch.request_builder.where.contains.class: OroPro\Bundle\ElasticSearchBundle\RequestBuilder\Where\ContainsWherePartBuilder
    oropro_elasticsearch.request_builder.where.equals.class: OroPro\Bundle\ElasticSearchBundle\RequestBuilder\Where\EqualsWherePartBuilder
    oropro_elasticsearch.request_builder.where.range.class: OroPro\Bundle\ElasticSearchBundle\RequestBuilder\Where\RangeWherePartBuilder
    oropro_elasticsearch.request_builder.where.in.class: OroPro\Bundle\ElasticSearchBundle\RequestBuilder\Where\InWherePartBuilder

    oropro_elasticsearch.field_type_mapping:
        text:
            type: string
            store: true
            index: not_analyzed
        decimal:
            type: double
            store: true
        integer:
            type: integer
            store: true
        datetime:
            type: date
            store: true
            format: "yyyy-MM-dd HH:mm:ss||yyyy-MM-dd"

services:
    oro_search.search.engine:
        class: %oropro_elasticsearch.engine.class%
        arguments:
            - "@doctrine"
            - "@event_dispatcher"
            - "@oro_entity.doctrine_helper"
            - "@oro_search.mapper"
            - "@oropro_elasticsearch.engine.index_agent"
        calls:
            - [setLogQueries, [%oro_search.log_queries%]]
            - [addRequestBuilder,  ["@oropro_elasticsearch.request_builder.from"]]
            - [addRequestBuilder,  ["@oropro_elasticsearch.request_builder.where"]]
            - [addRequestBuilder,  ["@oropro_elasticsearch.request_builder.order"]]
            - [addRequestBuilder,  ["@oropro_elasticsearch.request_builder.limit"]]

    oropro_elasticsearch.engine.index_agent:
        class: %oropro_elasticsearch.engine.index_agent.class%
        arguments:
            - "@oropro_elasticsearch.client.factory"
            - %oro_search.engine_parameters%
            - "@oro_search.provider.search_mapping"
        calls:
            - [setFieldTypeMapping, [%oropro_elasticsearch.field_type_mapping%]]

    oropro_elasticsearch.client.factory:
        class: %oropro_elasticsearch.client.factory.class%

    oropro_elasticsearch.request_builder.from:
        class: %oropro_elasticsearch.request_builder.from.class%

    oropro_elasticsearch.request_builder.where:
        class: %oropro_elasticsearch.request_builder.where.class%
        calls:
            - [addPartBuilder,  ["@oropro_elasticsearch.request_builder.where.contains"]]
            - [addPartBuilder,  ["@oropro_elasticsearch.request_builder.where.equals"]]
            - [addPartBuilder,  ["@oropro_elasticsearch.request_builder.where.range"]]
            - [addPartBuilder,  ["@oropro_elasticsearch.request_builder.where.in"]]

    oropro_elasticsearch.request_builder.order:
        class: %oropro_elasticsearch.request_builder.order.class%

    oropro_elasticsearch.request_builder.limit:
        class: %oropro_elasticsearch.request_builder.limit.class%

    oropro_elasticsearch.request_builder.where.contains:
        class: %oropro_elasticsearch.request_builder.where.contains.class%

    oropro_elasticsearch.request_builder.where.equals:
        class: %oropro_elasticsearch.request_builder.where.equals.class%

    oropro_elasticsearch.request_builder.where.range:
        class: %oropro_elasticsearch.request_builder.where.range.class%

    oropro_elasticsearch.request_builder.where.in:
        class: %oropro_elasticsearch.request_builder.where.in.class%
