level:
  mapping:
    V097: MINOR
    V001: MAJOR
    V002: MAJOR
    V003: MINOR
    V004: PATCH
    V005: MAJOR
    V006: MAJOR
    V007: MAJOR
    V008: MAJOR
    V009: MAJOR
    V010: MAJOR
    V011: MAJOR
    V012: MAJOR
    V013: MAJOR
    V014: MINOR
    V015: MAJOR
    V016: MAJOR
    V017: MINOR
    V018: MINOR
    V019: MAJOR
    V020: MAJOR
    V021: MINOR
    V022: PATCH
    V023: PATCH
    V024: PATCH
    V025: PATCH
    V026: PATCH
    V027: PATCH
    V028: PATCH
    V029: PATCH
    V030: PATCH
    V031: PATCH
    V032: MINOR
    V033: MAJOR
    V034: MAJOR
    V035: MAJOR
    V036: MAJOR
    V037: MAJOR
    V038: MAJOR
    V039: MAJOR
    V040: MAJOR
    V041: MAJOR
    V042: MAJOR
    V043: MAJOR
    V044: MAJOR
    V045: MAJOR
    V046: MINOR
    V047: MAJOR
    V048: MAJOR
    V049: MAJOR
    V050: MAJOR
    V052: PATCH
    V053: PATCH
    V054: PATCH
    V055: MAJOR
    V056: MAJOR
    V057: MAJOR
    V058: MAJOR
    V059: PATCH
    V060: PATCH
    V061: PATCH
    V062: PATCH
    V063: PATCH
    V064: PATCH
    V065: PATCH
    V066: PATCH
    V067: PATCH
    V068: MAJOR
    V069: MAJOR
    V070: MINOR
    V071: MINOR
    V072: MAJOR
    V073: MINOR
    V074: MAJOR
    V075: MAJOR
    V076: MAJOR
    V077: MINOR
    V078: MAJOR
    V079: MAJOR
    V082: MAJOR
    V083: MAJOR
    V084: PATCH
    V085: MAJOR
    V086: MAJOR
    V087: PATCH
    V088: MAJOR
    V089: MAJOR
    V090: PATCH
    V091: MINOR
    V092: MINOR
    V093: PATCH
    V094: MAJOR
    V095: MAJOR
    V096: PATCH
    V097: MAJOR
    V098: MAJOR
    V099: PATCH
    V100: MAJOR
    V101: MAJOR
    V102: MAJOR
    V103: MAJOR
    V104: MAJOR
    V105: MAJOR
    V106: MAJOR
    V107: MAJOR
    V108: MAJOR
    V109: MINOR
    V110: MINOR
    V111: MINOR
    V112: MAJOR
    V113: MAJOR
    V114: MAJOR
    V115: MAJOR
    V116: MAJOR
    V117: MAJOR
