{% spaceless %}
    {% set currOrganization = get_current_organization() %}
    {% set multiorgLoginFirstAttr = constant('OroPro\\Bundle\\OrganizationBundle\\EventListener\\AuthenticationListener::MULTIORG_LOGIN_FIRST') %}
    {% set multiorgLoginUnpreferredAttr = constant('OroPro\\Bundle\\OrganizationBundle\\EventListener\\AuthenticationListener::MULTIORG_LOGIN_UNPREFERRED') %}
    {% set preferredOrganizationNameAttr = constant('OroPro\\Bundle\\OrganizationBundle\\EventListener\\AuthenticationListener::PREFERRED_ORGANIZATION_NAME') %}

    <span class="tddest" data-placement="bottom" data-toggle="manual" data-original-title="TestTitle"></span>
    {% if(app.session.has(multiorgLoginFirstAttr) or app.session.has(multiorgLoginUnpreferredAttr)) %}
        <script type="text/javascript">
            require(['jquery', 'bootstrap'], function($) {
                $(function(){
                    {% if (app.session.has(multiorgLoginFirstAttr)) %}
                        {% set message %}
                            {{
                                'oropro.organization.controller.message.multiorg.login.first'
                                |trans({'%organization_name%': currOrganization.name })|trim|striptags|raw
                            }}
                        {% endset %}
                    {% else %}
                        {% set message %}
                        {{
                            'oropro.organization.controller.message.multiorg.login.unpreferred'
                            |trans({'%organization_name%': currOrganization.name, '%preferred_organization_name%': app.session.get(preferredOrganizationNameAttr) })
                            |trim|striptags|raw
                        }}
                        {% endset %}
                    {% endif %}

                    var msg = {{ message|json_encode|raw }};

                    $('.tddest')
                        .popover({content: msg})
                        .popover('show');
                });
            });
        </script>

        {# unset session attributes #}
        {% do app.session.remove(multiorgLoginFirstAttr) %}
        {% do app.session.remove(multiorgLoginUnpreferredAttr) %}
        {% do app.session.remove(preferredOrganizationNameAttr) %}
    {% endif %}
{% endspaceless %}
