@name = DemoDataBundle:event_discussion_contact
@entityName = OroCRM\Bundle\ContactBundle\Entity\Contact
@subject = Marketing Discussion!
@isSystem = 0

<h4>Hi {{ entity.firstName }},</h4>
<p>Let's get on a call to discuss how we can improve our joint marketing efforts.</p>
<p>What time works best for you?</p>
