@name = DemoDataBundle:event_birthday_contact
@entityName = OroCRM\Bundle\ContactBundle\Entity\Contact
@subject = Happy Birthday!
@isSystem = 0

<h4>Dear {{ entity.firstName }} {{ entity.lastName }},</h4>
<p>We are very happy to congratulate you with this special day.</p>
<p>Happy Birthday!</p>
