@name = DemoDataBundle:delete_account
@entityName = OroCRM\Bundle\AccountBundle\Entity\Account
@subject = Account {{ entity.name }} deleted
@isSystem = 0

<h4>Account "{{ entity.name }}" was deleted</h4>
