@name = DemoDataBundle:delete_user
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = User {{ entity.firstName }} {{ entity.lastName }} deleted
@isSystem = 1

<h4>User "{{ entity.firstName }} {{ entity.lastName }}" was deleted</h4>
