@name = DemoDataBundle:delete_contact
@entityName = OroCRM\Bundle\ContactBundle\Entity\Contact
@subject = Contact {{ entity.firstName }} {{ entity.lastName }} deleted
@isSystem = 0

<h4>Contact "{{ entity.firstName }} {{ entity.lastName }}" was deleted</h4>
