parameters:
    oropro_security.licence.server_agent.class: OroPro\Bundle\SecurityBundle\Licence\ServerAgent
    oropro_security.licence.sender.class:       OroPro\Bundle\SecurityBundle\Licence\Sender

    #
    # Override Oro\Bundle\SecurityBundle\Acl\Extension\EntityAclExtension
    # in enterprise edition user should be able to set Organization as Access level in "Default permission on entities"
    #
    oro_security.acl.extension.entity.class:    OroPro\Bundle\SecurityBundle\Acl\Extension\EntityAclProExtension

services:
    oropro_security.licence.server_agent:
        class: %oropro_security.licence.server_agent.class%
        arguments:
            - %enterprise_licence%
            - @oropro_security.licence.sender
            - @doctrine

    oropro_security.licence.sender:
        class: %oropro_security.licence.sender.class%
