@name = DemoDataBundle:create_contact
@entityName = OroCRM\Bundle\ContactBundle\Entity\Contact
@subject = New contact {{ entity.firstName }} {{ entity.lastName }}
@isSystem = 0

<h4>New contact "{{ entity.firstName }} {{ entity.lastName }}" was added</h4>
