@name = DemoDataBundle:create_account
@entityName = OroCRM\Bundle\AccountBundle\Entity\Account
@subject = New account {{ entity.name }}
@isSystem = 0

<h4>New account "{{ entity.name }}" was added</h4>
