@name = DemoDataBundle:create_user
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = New user {{ entity.firstName }} {{ entity.lastName }}
@isSystem = 1

<h4>New user "{{ entity.firstName }} {{ entity.lastName }}" was added</h4>
