#!/bin/bash
#
# Init script for OroCRM websocket service #
# Put it inside /etc/init.d "cp app/oro-ws.dist /etc/init.d/oro-ws"
# Start/Stop clank Oro websocket service like this:
# /etc/init.d/oro-ws start|stop
#

# Update this with real path to OroCRM and PHP user
DIR='/var/www/orocrm/crm-application/' # Path to OroCRM installation
USER='nginx'                           # Oro files owner
#

ls $DIR >/dev/null 2>&1 || {
    echo "OroCRM root directory $DIR not found, aborting!";
    exit 1;
}

id $USER >/dev/null 2>&1 || {
    echo "User $USER not found, aborting!";
    exit 1;
}    

CASE=$1

# Call Oro clank script as PHP user
su - $USER -c "cd $DIR; ./app/bin/oro_clankd $CASE"

# EOF #
