parameters:
    oro_pro_ews.connector.class:                         OroPro\Bundle\EwsBundle\Connector\EwsConnector
    oro_pro_ews.services.class:                          OroPro\Bundle\EwsBundle\Ews\ExchangeWebServices
    oro_pro_ews.search_query.builder.class:              OroPro\Bundle\EwsBundle\Connector\Search\SearchQueryBuilder
    oro_pro_ews.search_query.state.class:                OroPro\Bundle\EwsBundle\Connector\Search\SearchQuery
    oro_pro_ews.search_query.query_string.builder.class: OroPro\Bundle\EwsBundle\Connector\Search\QueryStringBuilder
    oro_pro_ews.search_query.restriction.builder.class:  OroPro\Bundle\EwsBundle\Connector\Search\RestrictionBuilder
    oro_pro_ews.service_configurator.class:              OroPro\Bundle\EwsBundle\Provider\EwsServiceConfigurator
    oro_pro_ews.email_synchronizer.class:                OroPro\Bundle\EwsBundle\Sync\EwsEmailSynchronizer
    oro_pro_ews.email_sync_processor_factory.class:      OroPro\Bundle\EwsBundle\Sync\EwsEmailSynchronizationProcessorFactory
    oro_pro_ews.email_body_loader.class:                 OroPro\Bundle\EwsBundle\Provider\EwsEmailBodyLoader
    oro_pro_ews.email_origin_listener.class:             OroPro\Bundle\EwsBundle\EventListener\EmailOriginListener
    oro_pro_ews.form.type.ews_transport_check.class:     OroPro\Bundle\EwsBundle\Form\Type\EwsCheckButtonType

    oro_pro_ews.transport_check.service_configurator.class: OroPro\Bundle\EwsBundle\Provider\EwsTransportCheckServiceConfigurator

services:
    oro_pro_ews.connector:
        class: %oro_pro_ews.connector.class%
        arguments:
            - "@oro_pro_ews.services"

    oro_pro_ews.services:
        public: false
        class: %oro_pro_ews.services.class%
        arguments:
            - "@oro_pro_ews.service_configurator"

    oro_pro_ews.search_query.builder:
        scope: prototype
        class: %oro_pro_ews.search_query.builder.class%
        arguments:
            - "@oro_pro_ews.search_query.state"

    oro_pro_ews.search_query.state:
        public: false
        scope: prototype
        class: %oro_pro_ews.search_query.state.class%
        arguments:
            - "@oro_pro_ews.search_query.query_string.builder"
            - "@oro_pro_ews.search_query.restriction.builder"

    oro_pro_ews.search_query.query_string.builder:
        public: false
        class: %oro_pro_ews.search_query.query_string.builder.class%

    oro_pro_ews.search_query.restriction.builder:
        public: false
        class: %oro_pro_ews.search_query.restriction.builder.class%

    oro_pro_ews.service_configurator:
        class: %oro_pro_ews.service_configurator.class%
        arguments:
            - "@oro_config.user"
            - "@oro_security.encoder.mcrypt"
            - %oro_pro_ews.wsdl_endpoint%
            - false                         # ignoreFailedResponseMessages

    oro_pro_ews.email_synchronizer:
        scope: prototype
        class: %oro_pro_ews.email_synchronizer.class%
        arguments:
            - "@doctrine"
            - "@oro_email.known_email_address_checker_factory"
            - "@oro_pro_ews.email_sync_processor_factory"
            - "@oro_email.email.address.manager"
            - "@oro_email.email.owner.provider.storage"
            - "@oro_pro_ews.connector"
            - "@oro_pro_ews.service_configurator"
            - %oro_user.entity.class%
        tags:
            - { name: oro_email.email_synchronizer }

    oro_pro_ews.email_sync_processor_factory:
        class: %oro_pro_ews.email_sync_processor_factory.class%
        public: false
        scope: prototype
        arguments:
            - "@doctrine"
            - "@oro_email.email.entity.builder"

    oro_pro_ews.email_body_loader:
        public: false
        class: %oro_pro_ews.email_body_loader.class%
        arguments:
            - "@oro_pro_ews.connector"
            - "@oro_config.global"
        tags:
            - { name: oro_email.email_body_loader }

    oro_pro_ews.email_origin_listener:
        class: %oro_pro_ews.email_origin_listener.class%
        tags:
            - { name: doctrine.event_listener, event: onFlush }

    oro_pro_ews.form.type.ews_transport_check:
        class: %oro_pro_ews.form.type.ews_transport_check.class%
        tags:
            - { name: form.type, alias: oro_pro_ews_check_button }

    oro_pro_ews.transport_check.connector:
        class: %oro_pro_ews.connector.class%
        arguments:
            - "@oro_pro_ews.transport_check.services"

    oro_pro_ews.transport_check.services:
        public: false
        class: %oro_pro_ews.services.class%
        arguments:
            - "@oro_pro_ews.transport_check.service_configurator"

    oro_pro_ews.transport_check.service_configurator:
        class: %oro_pro_ews.transport_check.service_configurator.class%
        arguments:
            - "@oro_config.user"
            - "@oro_security.encoder.mcrypt"
            - %oro_pro_ews.wsdl_endpoint%
            - false                         # ignoreFailedResponseMessages
