.mobile-version {
  #oropro_share_form {
    .control-group {
      margin: 0 10px;
      .control-label.wrap {
        width: auto;
      }
      .controls {
        float: none;
        .select2-container {
          min-width: 220px;
        }
      }
      &.shared-datagrid {
        margin: 0;
        .shared-datagrid-title {
          margin: 10px 10px 0;
        }
      }
    }
  }
}
