{% extends 'OroDashboardBundle:Dashboard:chartWidget.html.twig' %}

{% block content %}

{% set hasData = false %}
{% for value in items %}
    {% if value and value > 0 %}
        {% set hasData = true %}
    {% endif %}
{% endfor %}

{% if hasData %}
    <div class="chart-container">
        <div class="clearfix">
            <div id="{{ widgetId }}-chart" class="bar-chart chart pull-left"></div>
        </div>
    </div>

    <script type="text/javascript"></script>
{% else %}
    <div class="clearfix no-data">
        <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
    </div>
{% endif %}

{% endblock %}
