{% set chartData = {} %}
{% set containerId = "chart-container-" ~ random() %}

{% if data|length > 0 %}
    {% set isMobileVersion = isMobileVersion() %}
    {% set json = {
        'chart': {
            'canvasPadding': 20,
            'labelPadding': 10,
            'yAxisValuesPadding': 10,
            'xAxisNamePadding': 10,
            'yAxisNamePadding': 10,
            'showValues': '0',
            'maxColWidth': '50',
            'showCanvasBg': '0',
            'showCanvasBase': '0',
            'animation': '0',
            'valuePadding': '10',
            'rotateXAxisName': '0',
            'bgColor': 'transparent',
            'showZeroPlane': '0',
            'canvasBgColor': 'transparent',
            'canvasBorderThickness ': '0',
            'borderColor': 'transparent',
            'xaxisname': options.data_schema.label.label|default('N/A')|trans,
            'yaxisname': options.data_schema.value.label|default('N/A')|trans,
            'showShadow': '0',
            'formatNumberScale': '0',
            'decimals': '2',
            'divLineColor': 'eaeaea',
            'showVLineLabelBorder': '0',
            'showAlternateHGridColor': '0',
            'paletteColors': options.settings.chartColors
        },
        'categories': data.categories,
        'dataset': data.dataset,
        'trendlines': [{
            'line': [
                {
                    'startvalue': '0',
                    'color': '666666',
                    'alpha': '10'
                }
            ]
        }]
    } %}

    {% if options.settings.connect_dots_with_line == false %}
        {% set json = json|merge({
            'chart':{
                'anchorBgColor': options.settings.chartColors,
                'anchorBorderColor': options.settings.chartColors,
                'lineColor': 'transparent'
            }|merge(json.chart)
        }) %}
    {% endif %}

    {% set componentOptions = {
        view: 'orocrmprofusioncharts/js/app/views/multiline-chart-view',
        autoRender: true,
        chartOptions: {
            containerId: containerId,
            dataSource: json,
            options: options,
            isCurrencyPrepend: oro_currency_symbol_prepend()
        }
    } %}

    <div class="chart-container">
        <div class="clearfix">
            <div id="{{ containerId }}-chart" class="multiline-chart chart"
                 data-page-component-module="oroui/js/app/components/view-component"
                 data-page-component-options="{{ componentOptions|json_encode }}"></div>
        </div>
    </div>
{% elseif (options.settings.show_no_data_block is not defined or options.settings.show_no_data_block != false) %}
    <div class="container-fluid">
        <div class="clearfix no-data">
            <span>{{ 'oro.dashboard.no_data_found'|trans }}</span>
        </div>
    </div>
{% endif %}
