@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

.oropro-organization-notice-holder {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 400px;
  z-index: 902; /* less than organization selector, but equals to menu */

  .popover {
    .popover-close {
      color: @warningText;
    }
    .arrow {
      left: 10%;
      border-bottom-color: @warningBackground;
      top: -10px;

      &:after {
        border-bottom-color: @warningBackground;
      }
    }
    .popover-title {
      color: @warningText;
      background: @warningBackground;
      border-color: @warningBorder;
    }
  }
}

.mobile-version {
  .oropro-organization-notice-holder {
    bottom: 15px;
    .popover .arrow {
      left: 20%;
    }
  }
}

.dropdown-organization-switcher {
  z-index: 903;
}
