{% set organizationInfo = oropro_entity_organization_name(entity) %}
{% if organizationInfo is not null %}
    <li>
        {{ 'oro.organization.entity_label'|trans }}: {{ organizationInfo }}
    </li>
{% endif %}
