{% set organizationInfo = oropro_search_entity_organization_info(entity) %}
{% if organizationInfo is not null %}
    <div>
        {{ 'oropro.organization.label'|trans }}: {{ organizationInfo }}
    </div>
{% endif %}
