.chart-container {
  .flow-chart {
    margin: 0 50px;
    text-align: center;
    .chart{
      max-width: 750px;
      margin: 0 auto;
    }
    svg{
      overflow: visible !important;
    }
  }

  overflow: hidden;
}
