@name = DemoDataBundle:update_account
@entityName = OroCRM\Bundle\AccountBundle\Entity\Account
@subject = Account {{ entity.name }} updated
@isSystem = 0

<h1>Account "{{ entity.name }}" was updated</h1>
