@name = DemoDataBundle:update_contact
@entityName = OroCRM\Bundle\ContactBundle\Entity\Contact
@subject = Contact {{ entity.firstName }} {{ entity.lastName }} updated
@isSystem = 0

<h4>Contact "{{ entity.firstName }} {{ entity.lastName }}" was updated</h4>
