@name = DemoDataBundle:update_user
@entityName = Oro\Bundle\UserBundle\Entity\User
@subject = User {{ entity.firstName }} {{ entity.lastName }} updated
@isSystem = 1

<h4>User "{{ entity.firstName }} {{ entity.lastName }}" was updated</h4>
