imports:
  - ../../package/platform/src/Oro/Bundle/TestFrameworkBundle/Resources/config/behat.yml.dist

default: &default
    extensions:
        Behat\MinkExtension:
            base_url: 'http://dev-crm-enterprise.local/'
        Oro\Bundle\TestFrameworkBundle\Behat\ServiceContainer\OroTestFrameworkExtension:
            application_suites:
                - OroUserBundle
                - OroCRMBundle
                - OroNavigationBundle
                - OroCRMContactBundle
                - OroCRMAccountBundle
                - OroCRMTaskBundle

selenium2:
    <<: *default
    extensions:
        Behat\MinkExtension:
            base_url: 'http://dev-crm-enterprise.local/'
